<h2>Curriculo ->  @ViewData["Title"]</h2>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-lightbg border-bottom box-shadow  mb-3 p-sm-0 " style="background-color:rgb(0, 153, 130)">
        <div class="container ml-3">
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" >
                <ul class="navbar-nav flex-grow-1">
                    <li class="w3-bar-item w3-hover-light-gray">
                        <strong>
                            <a class="nav-link w3-text-black pr-2 mr-2" asp-controller="Curriculo" asp-action="Index"><i class="fas fa-star mr-1"></i>Principal</a>
                        </strong>
                    </li>
                    <li class="w3-bar-item w3-hover-light-gray">
                        <strong>
                            <a class="nav-link w3-text-black pr-2 mr-2" asp-controller="Curriculo" asp-action="List"><i class="fas fa-clipboard-list mr-1"></i>Lista</a>
                        </strong>
                    </li>
                    <li class="w3-bar-item  w3-hover-light-gray">
                        <strong>
                            <a class="nav-link w3-text-black pr-2 mr-2" asp-controller="Curriculo" asp-action="Create"><i class="fas fa-plus-square mr-1"></i>Novo</a>
                        </strong>
                    </li>
                </ul>
            </div>
        </div>
    </nav>