@model PatSystem.UI.ViewModels.CRdetailsViewModel
@{
    ViewData["Title"] = "Criar";
}
<script src="~/script/ScriptBuscaCidade.js"></script>
<script src="~/script/ScriptCursoTecnico.js"></script>
<script src="~/script/ScriptCursoSuperior.js"></script>
@await Html.PartialAsync("~/Views/Curriculo/PartialViews/_MenuSuperior.cshtml")
<hr />

<div class="row">
    <div class="col-5">
        <form asp-action="Edit" style="font-size:15px">
            <div asp-validation-summary="All" class="text-danger"></div>
            <nav id="Cliente">
                <div class="bg-info p-1 mb-2"> <h4>Cliente</h4> </div>
                <div class="form-group d-inline-flex col-6">
                    <label asp-for="Curriculo.Cliente.Nome" class="control-label pr-2 pt-1 "></label>
                    <input asp-for="Curriculo.Cliente.Nome" value="@Model.Curriculo.Cliente.Nome" class="form-control p-1 " />
                </div><br>
                <div class="form-group d-inline-flex ">
                    <label asp-for="Curriculo.Cliente.Nascimento" class="control-label pr-2 pt-1 col-7"></label>
                    <input asp-for="Curriculo.Cliente.Nascimento" value="" class="form-control p-1 col-6" />
                </div><br>
                <div class="form-group d-inline-flex">
                    <label asp-for="Curriculo.Cliente.TlFixo" class="control-label pr-2 pt-1 col-4"></label>
                    <input asp-for="Curriculo.Cliente.TlFixo" value="" class="form-control p-1 col-8" />
                </div><br>
                <div class="form-group d-inline-flex">
                    <label asp-for="Curriculo.Cliente.TlMovel" class="control-label pr-2 pt-1 col-4"></label>
                    <input asp-for="Curriculo.Cliente.TlMovel" value="" class="form-control p-1 col-8" />
                </div><br>
                <div class="form-group d-inline-flex">
                    <label asp-for="Curriculo.Cliente.Email" class="control-label pr-2 pt-1 col-4"></label>
                    <input asp-for="Curriculo.Cliente.Email" value="" class="form-control p-1 col-11" />
                </div><br>
                <div class="form-group d-inline-flex">
                    <label asp-for="Curriculo.Cliente.AreaAtuacao" class="control-label pr-2 pt-1 col-6"></label>
                    <input asp-for="Curriculo.Cliente.AreaAtuacao" value="" class="form-control p-1 col-8" />
                </div><br>
                <div class="form-group d-inline-flex">
                    <label asp-for="Curriculo.Cliente.EnsinoMedio" class="control-label pr-2 pt-1 col-6"></label>
                    <select asp-for="Curriculo.Cliente.EnsinoMedio" class="custom-select col-10">
                        <option>  </option>
                        <option>Incompleto</option>
                        <option>Completo</option>
                        <option>Cursando</option>
                    </select>
                </div><br>
            </nav>

            <nav id="Endereco">
                <hr />
                <div class="bg-info p-1 mb-2"> <h4>Endereço</h4> </div>
                <div class="form-group d-inline-flex">
                    <label asp-for="Curriculo.Cliente.UF" class="control-label pr-2 pt-1 col-4"></label>
                    <select id="estados" class="form-control mr-2" asp-for="Curriculo.Cliente.UF">
                        <option value=""></option>
                    </select>
                </div>
                <div class="form-group d-inline-flex">
                    <label asp-for="Curriculo.Cliente.Cidade" class="control-label pr-2 pt-1 "></label>
                    <select id="cidades" asp-for="Curriculo.Cliente.Cidade" class="form-control p-1">
                    </select>
                </div><br>
                <div class="form-group d-inline-flex">
                    <label asp-for="Curriculo.Cliente.Bairro" class="control-label pr-2 pt-1 col-3"></label>
                    <input asp-for="Curriculo.Cliente.Bairro" value="" class="form-control p-1 col-12" />
                </div><br>
                <div class="form-group d-inline-flex">
                    <label asp-for="Curriculo.Cliente.Rua" class="control-label pr-2 pt-1 col-3"></label>
                    <input asp-for="Curriculo.Cliente.Rua" value="" class="form-control p-1 col-12" />
                </div><br>
                <div class="form-group d-inline-flex">
                    <label asp-for="Curriculo.Cliente.Numero" class="control-label pr-2 pt-1 col-4"></label>
                    <input asp-for="Curriculo.Cliente.Numero" value="" class="form-control p-1 col-5" />
                </div>
            </nav>


            <nav id="Cursos">
                <hr />
                <div class="bg-info p-1 mb-2"> <h4>Curso Supeior</h4>
                </div>
                @foreach (var curso in Model.CursosTecnico)
                {
                    <div class="form-group d-inline-flex">
                        <label asp-for="CursoSuperior.Modalidade" class="control-label pr-2 pt-1"></label>
                        <select id="ModalidadeSuperior" class="form-control" asp-for="CursoSuperior.Modalidade">
                            <option value=""></option>
                        </select>
                    </div><br>
                    <div class="form-group d-inline-flex">
                        <label asp-for="CursoSuperior.Nome" class="control-label pr-2 pt-1"></label>
                        <select id="NomeCursoSuperior" asp-for="CursoSuperior.Nome" class="form-control p-1">
                        </select>
                    </div><br>
                    <div class="form-group d-inline-flex">
                        <label asp-for="CursoSuperior.Instituicao" class="control-label pr-2 pt-1"></label>
                        <input asp-for="CursoSuperior.Instituicao" value="" class="form-control p-1" />
                    </div><br>
                    <div class="form-group d-inline-flex">
                        <label asp-for="CursoSuperior.Tipo" class="control-label pr-2 pt-1"></label>
                        <select asp-for="CursoSuperior.Tipo" class="custom-select">
                            <option>  </option>
                            <option>Presencial</option>
                            <option>EAD</option>
                        </select>
                    </div>
                    <br>
                    <div class="form-group d-inline-flex">
                        <label asp-for="CursoSuperior.Status" class="control-label pr-2 pt-1"></label>
                        <select class="custom-select" asp-for="CursoSuperior.Status "
                                asp-items="Html.GetEnumSelectList<PatSystem.Domain.Enums.StatusCurso>()">
                        </select>
                    </div><br>
                }


                <hr />
                <br>
                <div class="bg-info p-1 mb-2"> <h4>Curso Tecnico</h4> </div>
                @foreach (var curso in Model.CursosTecnico)
                {
                    <div class="form-group d-inline-flex">
                        <label asp-for="CursoTecnico.Modalidade" class="control-label pr-2 pt-1"></label>
                        <select id="ModalidadeTecnico" class="form-control" asp-for="CursoTecnico.Modalidade">
                            <option value=""></option>
                        </select>
                    </div><br>
                    <div class="form-group d-inline-flex ">
                        <label asp-for="CursoTecnico.Nome" class="control-label pr-2 pt-1"></label>
                        <select id="NomeCursoTecnico" asp-for="CursoTecnico.Nome" class="form-control p-1">
                        </select>
                    </div><br>
                    <div class="form-group d-inline-flex">
                        <label asp-for="CursoTecnico.Instituicao" class="control-label pr-2 pt-1"></label>
                        <input asp-for="CursoTecnico.Instituicao" class="form-control" />
                    </div><br>
                    <div class="form-group d-inline-flex">
                        <label asp-for="CursoTecnico.Tipo" class="control-label pr-2 pt-1"></label>
                        <select asp-for="CursoTecnico.Tipo" class="custom-select">
                            <option>  </option>
                            <option>Presencial</option>
                            <option>EAD</option>
                        </select>
                    </div><br>
                    <div class="form-group d-inline-flex">
                        <label asp-for="CursoTecnico.Status" class="control-label pr-2 pt-1"></label>
                        <select class="custom-select" asp-for="CursoTecnico.Status "
                                asp-items="Html.GetEnumSelectList<PatSystem.Domain.Enums.StatusCurso>()">
                        </select>
                    </div><br>
                }
                <hr />
                <br>


                <div class="bg-info p-1 mb-2"> <h4>Idiomas</h4> </div>
                @foreach (var idioma in Model.Idiomas)
                {
                    <div class="form-group d-inline-flex">
                        <label asp-for="Idioma.Nome" class="control-label pr-2 pt-1"></label>
                        <select class="custom-select" asp-for="Idioma.Nome "
                                asp-items="Html.GetEnumSelectList<PatSystem.Domain.Enums.Linguas>()">
                        </select>
                    </div><br>
                    <div class="form-group d-inline-flex">
                        <label asp-for="Idioma.Instituicao" class="control-label pr-2 pt-1"></label>
                        <input asp-for="Idioma.Instituicao" class="form-control" />
                    </div><br>
                    <div class="form-group d-inline-flex">
                        <label asp-for="Idioma.AnosCursados" class="control-label pr-2 pt-1 col-5"></label>
                        <input asp-for="Idioma.AnosCursados" class="form-control col-5" />
                    </div><br>
                    <div class="form-group d-inline-flex">
                        <label asp-for="Idioma.NivelFluencia" class="control-label pr-2 pt-1 col-7"></label>
                        <select class="form-control" asp-for="Idioma.NivelFluencia "
                                asp-items="Html.GetEnumSelectList<PatSystem.Domain.Enums.LevelSpeak>()">
                        </select>
                    </div><hr /><br>


                }
            </nav>
            <nav id="Experiencia">
                <div class="bg-info p-1 mb-2"> <h4>Experiencia</h4> </div>
                @foreach (var experiencia in Model.Experiencias)
                {
                    <div class="form-group d-inline-flex">
                        <label asp-for="Experiencia.NomeEmpresa" class="control-label pr-2 pt-1 col-6"></label>
                        <input asp-for="Experiencia.NomeEmpresa" class="form-control" />
                    </div><br>
                    <div class="form-group d-inline-flex">
                        <label asp-for="Experiencia.UltimoCargo" class="control-label pr-2 pt-1 col-6"></label>
                        <input asp-for="Experiencia.UltimoCargo" class="form-control" />
                    </div><br>
                    <div class="form-group d-inline-flex">
                        <label asp-for="Experiencia.Anos" class="control-label pr-2 pt-1 col-6"></label>
                        <input asp-for="Experiencia.Anos" class="form-control col-5" />
                    </div><br>
                    <div class="form-group d-inline-flex">
                        <label asp-for="Experiencia.Descricao" class="control-label pr-2 pt-1"></label>
                        <input asp-for="Experiencia.Descricao" class="form-control" />
                    </div>
                }
            </nav>

            <div class="form-group row mt-2">
                <a asp-action="Index" class="btn btn-primary mr-2">Voltar</a>
                <input class="btn btn-success pr-3" type="submit" value="Salvar Alterações" btn btn-primary" />

            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

